.head1{
    font-weight: 900;
    font-size: 4rem;
}

.head2{
    font-weight: bold;
    font-size: 18px;
}

.service{
    background-color: rgb(236, 235, 233);
}

.services{
    background-color: rgb(236, 235, 233);
}

.treat{
    background-color: rgb(3, 33, 83);
}

@media screen and (max-width:768px) {
    .head1{
        font-size: 2rem;
        margin-bottom: 0;
    }
    .head2{
        
        font-size: 10px;
    }
    
}